<h1>À-propos de Medical-Checkin</h1>


<br/>
<br/>


<p class="lead">
	Medical-Checkin est un outil sécurisé et confidentiel accélérant la récolte d'informations médicales.

	<br/>
	<br/>

	Grâce à des techniques de chiffrement avancées, incluant l'<em>Advanced Encryption Standard</em> à 128 bit,
	toutes les données entrées sont sécurisées sur la plateforme.

	<br/>
	<br/>

	Les données récoltées sont accessibles sur la plateforme avec l'aide d'un identifiant et d'un mot de passe.

<p/>