<% if (form !== null) { console.log(form) %>

	<div class="alert alert-success" role="alert">
		<h1>
			<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
			Dossier enregistré
		</h1>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="lead">
				Informations à fournir à l'accueil
			</h3>
		</div>
		<div class="panel-body">
		<p>
			Votre identifiant de dossier:<br>
				<strong><%- form.get('id') %></strong><br>
			Votre mot de passe à communiquer à l'accueil des urgences:<br>
				<strong><%- password %></strong>
		</p>
		</div>
	</div>


	<div id="qrcode"></div>

<% } else { %>

	<div class="alert alert-danger" role="alert">
		<h1>
			<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
			Pas de dossier
		</h1>
	</div>

<% } %>
