<h2>Votre nom</h2>
<strong>Nom: </strong><%- form.get('person').last %><br>
<strong>Prénom: </strong><%- form.get('person').first%><br>
<strong>Nom de jeune fille: </strong><%- form.get('person').maiden %><br>

<h2>Votre naissance</h2>
<strong>Date de naissance: </strong><%- form.get('person').birthdate %><br>
<strong>Lieu de naissance: </strong><%- form.get('person').birthplace %><br>

<h2>Votre situation personnelle</h2>
<strong>État civil: </strong><%- form.get('person').civil %><br>
<strong>Nationalité: </strong><%- form.get('person').nationality %><br>
<strong>Religion: </strong><%- form.get('person').religion %><br>

<h2>Votre adresse légale</h2>
<strong>Rue, N°: </strong><%- form.get('address').name %><br>
<strong>Code postal: </strong><%- form.get('address').postal %><br>
<strong>Ville: </strong><%- form.get('address').city %><br>
<strong>Pays: </strong><%- form.get('address').country %><br>

<h2>Vous contacter</h2>
<strong>Téléphone: </strong><%- form.get('contact').phone %><br>
<strong>Email: </strong><%- form.get('contact').email %><br>

<h2>Votre profession</h2>
<strong>Profession: </strong><%- form.get('job').profession %><br>
<strong>Employeur: </strong><%- form.get('job').employer %><br>
<strong>Téléphone professionnel: </strong><%- form.get('job').phone %><br>
<strong>Adresse courrier: </strong><%- form.get('job').address %><br>
<strong>Canton / Commune: </strong><%- form.get('job').region %><br>

<h2>Votre assurance</h2>
<strong>Assurance maladie: </strong><%- form.get('insurance').health %><br>
<strong>Assurance accident: </strong><%- form.get('insurance').work %><br>
<strong>Couverture d'assurance: </strong><%- form.get('insurance').cover %><br>

<h2>En cas d'urgence</h2>
<strong>Téléphone de contact en cas d'urgence: </strong><%- form.get('emergency').number%><br>

<h2>Votre consultation médicale</h2>
<strong>Antécédents médicaux: </strong><%- form.get('medical').medicalHistory %><br>
<strong>Antécédents chirurgicaux: </strong><%- form.get('medical').surgeryHistory %><br>
<strong>Maladies actives: </strong><%- form.get('medical').diseases %><br>
<strong>Allergies: </strong><%- form.get('medical').allergies %><br>
<strong>Médicaments actuels: </strong><%- form.get('medical').drugs %><br>
<strong>Motif de consultation: </strong><%- form.get('medical').consultancyReason %><br>
<strong>Besoin d'un interpréteur: </strong><%- form.get('medical').interpreterNeeded %><br>
<strong>Langues parlées: </strong><%- form.get('medical').spokenLanguages %><br>
<strong>Urgence ressentie: </strong><%- form.get('medical').subjectiveEmergency %><br>
<strong>Autre: </strong><%- form.get('medical').other %><br>

