<h1>Bienvenue sur Medical-Checkin</h1>

<br/>

<h3 class="lead">
	Remplissez le formulaire d'admission ci-dessous afin d'accélérer votre prise
	en charge médicale.
	<br/>
	Toutes les informations rentrées sont encryptées et strictement confidentielles.
</h3>

<br/>


<form id="form">

	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title lead">
				<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
				Votre nom
			</h3>
		</div>
		<div class="panel-body">
			<div class="form-group">
				<label for="person_last">Nom</label>
				<input type="text" class="form-control" id="person_last" placeholder="Nom">
			</div>
			<div class="form-group">
				<label for="person_first">Prénom</label>
				<input type="text" class="form-control" id="person_first" placeholder="Prénom">
			</div>
			<div class="form-group">
				<label for="person_maiden">Nom de jeune fille</label>
				<input type="text" class="form-control" id="person_maiden" placeholder="Nom de jeune fille">
			</div>
		</div>
	</div>


	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title  lead">
				<span class="glyphicon glyphicon-grain" aria-hidden="true"></span>
				Votre naissance
			</h3>
		</div>
		<div class="panel-body">
			<div class="form-group">
				<label for="person_birthdate">Date de naissance</label>
				<input type="date" class="form-control" id="person_birthdate" placeholder="Date de naissance">
			</div>
			<div class="form-group">
				<label for="person_birthplace">Lieu de naissance</label>
				<input type="text" class="form-control" id="person_birthplace" placeholder="Lieu de naissance">
			</div>
		</div>
	</div>


	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title lead">
				<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
				Votre situation personnelle
			</h3>
		</div>
		<div class="panel-body">
			<div class="form-group">
				<label>État civil:</label><br>
				<div class="btn-group" data-toggle="buttons">
					<label class="btn btn-default">
						<input type="radio" name="person_civil" value="Célibataire">Célibataire
					</label>
					<label class="btn btn-default">
						<input type="radio" name="person_civil" value="Marié(e)">Marié(e)
					</label>
					<label class="btn btn-default">
						<input type="radio" name="person_civil" value="Veuf(ve)">Veuf(ve)
					</label>
				</div>
			</div>
			<div class="form-group">
				<label for="person_nationality">Nationalité</label>
				<input type="text" class="form-control" id="person_nationality" placeholder="Nationalité">
			</div>
			<div class="form-group">
				<label for="person_religion">Religion</label>
				<input type="text" class="form-control" id="person_religion" placeholder="Religion">
			</div>
		</div>
	</div>


	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title lead">
				<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
				Votre adresse légale
			</h3>
		</div>
		<div class="panel-body">
			<div class="form-group">
				<label for="address_name">Rue, N°</label>
				<input type="text" class="form-control" id="address_name" placeholder="Rue, N°">
			</div>
			<div class="form-group">
				<label for="address_postal">Code Postal</label>
				<input type="text" class="form-control" id="address_postal" placeholder="Code Postal">
			</div>
			<div class="form-group">
				<label for="address_city">Ville</label>
				<input type="text" class="form-control" id="address_city" placeholder="Ville">
			</div>
			<div class="form-group">
				<label for="address_country">Pays</label>
				<input type="text" class="form-control" id="address_country" placeholder="Pays">
			</div>
		</div>
	</div>


	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title lead">
				<span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
				Vous contacter
			</h3>
		</div>
		<div class="panel-body">
			<div class="form-group">
				<label for="contact_phone">Téléphone</label>
				<input type="text" class="form-control" id="contact_phone" placeholder="Téléphone">
			</div>
			<div class="form-group">
				<label for="contact_email">Email</label>
				<input type="text" class="form-control" id="contact_email" placeholder="Email">
			</div>
		</div>
	</div>


	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title lead">
				<span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span>
				Votre profession
			</h3>
		</div>
		<div class="panel-body">
			<div class="form-group">
				<label for="job_profession">Profession</label>
				<input type="text" class="form-control" id="job_profession" placeholder="Profession">
			</div>
			<div class="form-group">
				<label for="job_employer">Employeur</label>
				<input type="text" class="form-control" id="job_employer" placeholder="Employeur">
			</div>
			<div class="form-group">
				<label for="job_phone">Téléphone professionnel</label>
				<input type="text" class="form-control" id="job_phone" placeholder="Téléphone professionnel">
			</div>
			<div class="form-group">
				<label for="job_address">Adresse courrier</label>
				<input type="text" class="form-control" id="job_address" placeholder="Adresse courrier">
			</div>
			<div class="form-group">
				<label for="job_region">Canton / Commune</label>
				<input type="text" class="form-control" id="job_region" placeholder="Canton / Commune">
			</div>
		</div>
	</div>


	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title lead">
				<span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
				Votre assurance
			</h3>
		</div>
		<div class="panel-body">
			<div class="form-group">
				<label for="insurance_health">Assurance maladie</label>
				<input type="text" class="form-control" id="insurance_health" placeholder="Assurance maladie">
			</div>
			<div class="form-group">
				<label for="insurance_work">Assurance accident</label>
				<input type="text" class="form-control" id="insurance_work" placeholder="Assurance accident">
			</div>
			<div class="form-group">
				<label>En cas d’hospitalisation, la couverture d’assurance est en:</label>
				<br>
				<div class="btn-group" data-toggle="buttons">
					<label class="btn btn-default">
						<input type="radio" name="insurance_cover" value="Privé">Privé
					</label>
					<label class="btn btn-default">
						<input type="radio" name="insurance_cover" value="Semi-privé">Semi-privé
					</label>
					<label class="btn btn-default">
						<input type="radio" name="insurance_cover" value="Chambre commune">Chambre commune
					</label>
				</div>
			</div>
		</div>
	</div>


	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title lead">
				<span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
				En cas d'urgence
			</h3>
		</div>
		<div class="panel-body">
			<div class="form-group">
				<label for="emergency_number">Téléphone de contact en cas d’urgence</label>
				<input type="text" class="form-control" id="emergency_number" placeholder="Nom">
			</div>
		</div>
	</div>



	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title lead">
				<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
				Votre consultation médicale
			</h3>
		</div>
		<div class="panel-body">
			<div class="form-group">
				<label for="medical_medicalHistory">Antécédents médicaux</label>
				<textarea id="medical_medicalHistory" placeholder="Antécédents médicaux" class="form-control" rows="5"></textarea>
			</div>
			<div class="form-group">
				<label for="medical_surgeryHistory">Antécédents chirurgicaux</label>
				<textarea id="medical_surgeryHistory" placeholder="Antécédents chirurgicaux" class="form-control" rows="5"></textarea>
			</div>
			<div class="form-group">
				<label for="medical_diseases">Maladies actives</label>
				<textarea id="medical_diseases" placeholder="Maladies actives" class="form-control" rows="5"></textarea>
			</div>
			<div class="form-group">
				<label for="medical_allergies">Allergies</label>
				<textarea id="medical_allergies" placeholder="Allergies" class="form-control" rows="5"></textarea>
			</div>
			<div class="form-group">
				<label for="medical_drugs">Médicaments actuels</label>
				<textarea id="medical_drugs" placeholder="Médicaments actuels" class="form-control" rows="5"></textarea>
			</div>
			<div class="form-group">
				<label for="medical_consultancyReason">Motif de consultation</label>
				<textarea id="medical_consultancyReason" placeholder="Motif de consultation" class="form-control" rows="5"></textarea>
			</div>
			<div class="form-group">
				<label>Besoins d'un interpréteur</label>
				<br/>
				<div class="btn-group" data-toggle="buttons">
					<label class="btn btn-default">
						<input type="radio" name="medical_interpreterNeeded" value="Oui">Oui
					</label>
					<label class="btn btn-default">
						<input type="radio" name="medical_interpreterNeeded" value="Non">Non
					</label>
				</div>
			</div>
			<div class="form-group">
				<label for="languesParlees">Langues parlées</label>
				<textarea id="medical_spokenLanguages" placeholder="Langues parlées" class="form-control" rows="5"></textarea>
			</div>
			<div class="form-group">
				<label>Urgence ressentie (1: pas d'urgence / 4: urgence absolue)</label>
				<br/>
				<div class="btn-group" data-toggle="buttons">
					<label class="btn btn-success">
						<input type="radio" name="medical_subjectiveEmergency" value="1">1
					</label>
					<label class="btn btn-primary">
						<input type="radio" name="medical_subjectiveEmergency" value="2">2
					</label>
					<label class="btn btn-warning">
						<input type="radio" name="medical_subjectiveEmergency" value="3">3
					</label>
					<label class="btn btn-danger">
						<input type="radio" name="medical_subjectiveEmergency" value="4">4
					</label>
				</div>
			</div>
			<div class="form-group">
				<label for="medical_other">Autre</label>
				<textarea id="medical_other" placeholder="Autre" class="form-control" rows="5"></textarea>
			</div>
		</div>
	</div>


	<button id="submit" type="button" class="btn btn-primary">Créer le dossier</button>
</form>
<br>
