<h1>Mode d'emploi</h1>

<br/>
<br/>


<dl>
	<dt>
		<h4 class="list-group-item-heading lead about-section">Récolte d'informations</h4>
	</dt>
	<dd class="lead">
		Le patient remplit les informations le concernant (ex: Nom, Prénom,
		Date de naissance, ...) et les informations concernant la consultation
		médicale (ex: Antécédents médicaux, Allergies, Motif de consultation, ...).
	</dd>

	<dt>
		<h4 class="list-group-item-heading lead about-section">Sauvegarde des informations</h4>
	</dt>
	<dd class="lead">
		En appuyant sur le bouton «<em>Créer le dossier</em>», les données sont
		chiffrées sur la plateforme et sauvegardées sur un cloud sécurisé.
		<br/>
		Un identifiant et un mot de passe permettant de récupérer les données
		au travers de la plateforme, puis celles-ci sont affichées.
	</dd>

	<dt>
		<h4 class="list-group-item-heading lead about-section">Récupération des informations</h4>
	</dt>
	<dd class="lead">
		Après avoir rentré l'identifiant et le mot de passe et appuyé sur le
		bouton «<em>Afficher le dossier</em>», les données rentrées sont
		affichées sur la plateforme.
		<br/>
		En appuyant sur le bouton «<em>Télécharger le dossier au format .txt</em>», les données sont téléchargées au format TXT.
		<br/>
		En appuyant sur le bouton «<em>Télécharger le dossier au format .pdf</em>», les données sont téléchargées au format PDF.
	</dd>
</dl>
