<h1>
	<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
	Lecture du dossier
</h1>

<br>
<br>

<form id="read_form">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title lead">
				<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
				Informations sur le dossier
			</h3>
		</div>
		<div class="panel-body">
			<div class="form-group">
				<label for="person_last">Identifiant</label>
				<input type="text" class="form-control" id="form_id" placeholder="Identifiant">
			</div>
			<div class="form-group">
				<label for="person_first">Mot de Passe</label>
				<input type="text" class="form-control" id="form_pwd" placeholder="Mot de passe">
			</div>
		</div>
	</div>
	<button id="read_submit" type="button" class="btn btn-primary">Afficher le dossier</button>
	<button id="download_txt_submit" type="button" class="btn btn-primary">Télécharger le dossier au format .txt</button>
	<button id="download_pdf_submit" type="button" class="btn btn-primary">Télécharger le dossier au format .pdf</button>
</form>

<hr>

<div id="bad_id" class="alert alert-warning" role="alert" hidden>
	L'identifiant dossier est erroné, merci de vérifier qu'il a bien été entré
</div>
<div id="bad_pwd" class="alert alert-warning" role="alert" hidden>
	Le mot de passe est erroné, merci de vérifier qu'il a bien été entré
</div>

<div id="read_results">

</div>
