/* OUR CSS */

@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	src: local('Lato Regular'), local('Lato-Regular'), url(lato.woff2) format('woff2'), url(lato.woff) format('woff');
	}


html {
	position: relative;
	min-height: 100%;
}

body {
	padding-top: 50px;
	margin-bottom: 50px;
	color: #2B2B2B;
	background-color: #F6F6F6;
	font-family: Lato;
}

h3.panel-title {
	color: #DE1B1B;
}

.about-section {
	color: #DE1B1B;
	letter-spacing: 0.15em;
}


.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 50px;
	text-align: middle;
	background-color: #090909;
}

.footer-text {
	color: #888;
	font-size: 1.09em;
	letter-spacing: 0.15em;
	padding-top: 15px;
	margin: 0px auto;
	padding-right: 10px;
	text-align: right;
}

em {
	color: #DE1B1B;
}

